body{
    background-color: rgb(249, 246, 243);
}
header{
    background-color: rgb(75, 75, 162);
    color: aliceblue;
    padding: 2px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 1px;
   
    

}

.p{
    
    list-style: none;
    color: azure;
    gap: 1px;
    display: flex;
    justify-content: space-between;

}
.intro{
    text-align: center;
    padding: 1px;
}
.t h3{
    font-size: larger;
    margin:auto ;
    padding:10px ;
   justify-content: space-between;
   text-align: center;
color: rgb(69, 69, 103);
font-weight: bold;
}
.content{
    background-color: rgb(163, 152, 139);
    border: solid black 2px;
    border-radius:10px ;
    width: 300px;
    text-align: center;
    padding: 1px;
   
   
}
.content .img{
    width: 100%;
    border-radius: 50%;

}
.x{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.txt span{
    background-color: rgb(123, 123, 169);
    color: aliceblue;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: small;
    padding: 5px;
    
    
}
button{
    margin: 10px;
    padding: 5px;
    background-color: rgb(64, 64, 207);
color: aliceblue;
border-radius: 5px;
}
.m{
    margin-top: 1em;
}
.stats{
    background-color: rgb(36, 36, 107);
    color:white ;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
    
    
}
.t{
    margin: auto;
    padding: 2em 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

    



